<ion-header>
  <ion-toolbar>
    <ion-title>
      Contact Manager
    </ion-title>
  </ion-toolbar>

  <ion-searchbar class="searchbar" [(ngModel)]="searchTerm" (ionChange)="setFilteredContacts()"></ion-searchbar>

  <ion-item>
    <ion-label>Search by tag</ion-label>
    <ion-select [(ngModel)]="tagValue" (ionChange)='filterByTag()' placeholder="Select One">
      <ion-select-option value="Family">Family</ion-select-option>
      <ion-select-option value="Friend">Friend</ion-select-option>
      <ion-select-option value="Work">Work</ion-select-option>
      <ion-select-option value="All">All</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Order by</ion-label>
    <ion-select [(ngModel)]="orderValue" (ionChange)='orderContacts()' placeholder="Select One">
      <ion-select-option value="f">First Name</ion-select-option>
      <ion-select-option value="l">Last Name</ion-select-option>
      <ion-select-option value="e">Email</ion-select-option>
      <ion-select-option value="p">Phone</ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let contact of contacts">
    <!-- Goes to the Contact page -->
    <ion-item [routerLink]="['/contact/' + contact.completeName]" routerDirection='root'>
      <ion-label>{{contact.completeName}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button  (click)="goToNewContact()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
