<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input [(ngModel)]="contact.firstName" placeholder="First Name"></ion-input>
  <ion-input [(ngModel)]="contact.lastName" placeholder="Last Name"></ion-input>
  <ion-input [(ngModel)]="contact.email" placeholder="Email"></ion-input>
  <ion-input [(ngModel)]="contact.phone" placeholder="Phone number"></ion-input>
  <ion-textarea [(ngModel)]="contact.notes" placeholder="Enter more information here..."></ion-textarea>
  <ion-item>
    <ion-label>Tags</ion-label>
    <ion-select multiple='true' [(ngModel)]="contact.tag">
      <ion-select-option value="Family">Family</ion-select-option>
      <ion-select-option value="Friend">Friend</ion-select-option>
      <ion-select-option value="Work">Work</ion-select-option>
    </ion-select>
  </ion-item>
  <div class="saveButton">
    <ion-button (click)="saveContact()">Save</ion-button>
  </div>
</ion-content>
